@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color:#333;
}
.navbar {
  padding-bottom: 5px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  backGround: rgb(249, 242, 242);
  
 
}
.navbar h1 {
  color: rgb(30,144,255);
  padding-bottom: 25px;
  margin-left: 220px;
  font-size: 60px;
}
.navbar .links {
  margin-left: auto;
  margin-right: 220px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color:rgb(30,144,255);
}
.content {
  max-width: 992px;
  margin: 40px auto;
  padding: 20px;
}

/*blog preview / list */

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: rgb(30,144,255);
  margin-bottom: 8px;
}
